@import url("reset.css");
/* 제일 상단에 reset.css 만든것 연결하기*/

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Nanum+Myeongjo:wght@400;700;800&display=swap');

/* font-family: "Gothic A1", sans-serif; */
/* font-family: "Nanum Myeongjo", serif; */
/* body */
* {
  transition: 0.2s;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Gothic A1", sans-serif;
  user-select: none;
}

h2 {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 900;
  font-size: 35px;
  margin-bottom: 70px;
}

h3 {
  font-family: "Nanum Myeongjo", serif;
}

p {
  font-family: "Gothic A1", sans-serif;
}


/* //body */

/* header */
header {
  width: 100%;
  height: 100px;
  background-color: #b1a79ab1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gothic A1", sans-serif;
  font-weight: 700;
  font-size: 18px;
  position: relative;
  z-index: 98;
  padding: 0 50px;
}

header .header_i {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo_menu {
  display: flex;
  align-items: center;
}

header .logo_menu .logo {
  max-width: 180px;
}

header .logo_menu .menu {
  display: flex;
  margin-left: 2vw;
}

header .logo_menu .menu li {
  margin: 0 1vw;
}

header .util {
  display: flex;
}

header .util li {
  margin: 0 1vw;
}

header li:hover {
  color: #4F463D;
  transition: 0.1s;
}

header .language {
  border: none;
  width: 70px;
  height: 30px;
}


header .clickmenu {
  border: none;
  background-color: transparent;
  width: auto;
  height: auto;
  display: none;
}

.fix{
  position: fixed;
}

/* //header */
/* 햄버거바 클릭시 나타날 메뉴 */
.mobile_menu {
  background-color: #B1A79A;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  /* 스크립트로 햄버거바 클릭시 right : 0 x버튼 눌렀을때 다시 right : -100% */
  z-index: 99;
  color: white;
  font-family: "Gothic A1", sans-serif;
  font-weight: 700;
  display: none;
  padding: 50px;
}/* 햄버거바 클릭시 나타날 메뉴 */
.mobile_menu .inner_box{
  display: flex;
  flex-direction: column;
}

.mobile_menu .close_btn {

  border: none;
  background-color: transparent;
  align-self:flex-end;
}

.mobile_menu .close_wrap .close_menu {
  margin-bottom: 70px;
}

.mobile_menu .close_wrap .close_menu li {
  font-size: 25px;
  margin: 30px 0;
}

.mobile_menu .close_wrap .close_util li {
  font-size: 17px;
  margin: 30px 0;
}

.mobile_menu .close_wrap li:hover {
  color: #4F463D;
  transition: 0.1s;
}

/* //햄버거바 클릭시 나타날 메뉴 */

/* top 버튼 */
.top_btn {
  display: block;
  width: 70px;
  height: 70px;
  background-color: #b1a79ab4;
  border: none;
  border-radius: 100%;
  position: fixed;
  right: 20px;
  bottom: 100px;
  font-weight: 700;
  color: white;
  font-size: 18px;
  z-index: 98;
  display: none;
}

/* //top 버튼 */

/* main */
.main_video {
  max-width: 100%;
  /* max-height: 960px; */
  position: relative;
  top: -100px;
}

.main_video .videoWrap {
  max-width: 100%;
  overflow: hidden;
}

.main_video .videoWrap video {
  max-width: 100%;
  max-height: 90%;
  object-fit: cover
}

.main_video .reservation {
  position: relative;
  /* top: 800px;
  left: 50%;
  transform: translate(-50%,-50%); */
  max-width: 1140px;
  margin: 20px auto;
  display: flex;
}

.main_video .reservation .formWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  /* 미디어쿼리 화면 크기 줄어들면 블럭처리되게 */
}

.main_video .reservation .formWrap li {
  margin: 0 10px;
}

.main_video .reservation .formWrap .form_check {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  height: 60px;
  padding: 10px;
  background-color: white;
  border: 1px solid #393633;
}
input:focus {outline: none;}
.main_video .reservation .formWrap .form_check .textbox{
  padding: 3px 5px;
}

.main_video .reservation .formWrap .form_people {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 167px;
  height: 60px;
  padding: 10px;
  background-color: white;
  border: 1px solid #393633;
}

.main_video .reservation .formWrap .form_check input {
  background-color: transparent;
  border: none;
  width: 150px;
  height: 100%;
}

.main_video .reservation .formWrap .form_people select {
  border: none;
  width: 100px;
  height: 30px;
  text-align: center;
}

.main_video .reservation .reservation_button {
  width: 170px;
  height: 60px;
  margin-left: 30px;
  background-color: #918371;
  display: flex;
  justify-content: center;
}

.main_video .reservation .reservation_button button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.main_video .reservation .reservation_button:hover {
  background-color: #4F463D;
}

/* //main */

/* specialoffers */
.specialoffers {
  width: 100%;
  margin-top: 150px;
  margin-bottom: 200px;
  text-align: center;
}

.specialoffers .eventbox .event figure {
  overflow: hidden;
}

.specialoffers .container .text_box {
  padding: 20px 0;
  margin: 20px 0;
}

.specialoffers .container .text_box h3 {
  font-size: 26px;
  font-weight: 700;
  color: #393633;
  margin-bottom: 20px;
}

.specialoffers .container .text_box span {
  display: block;
  font-size: 14px;
  color: #8F8F8F;
  margin-bottom: 20px;
}

.specialoffers .container .text_box .eventcontent {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 160%;
}

.specialoffers .container .text_box .price {
  font-size: 14px;
  font-weight: 800;
}

/* //specialoffers */

/* slide */

.roomslide .title_box {
  width: 100%;
  text-align: center;
}

.roomslide .title_box h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 40px;
  color: #393633;
  line-height: 170%;
}
.roomslide .title_box h3>br{
  display: none;
}

.roomslide .slide .carousel-item .type h5 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.more_btn {
  width: 170px;
  height: 50px;
  background-color: #918371;
  color: white;
  margin: 60px auto;
  text-align: center;
  line-height: 50px;
}
.more_btn a{
  display: block;
}

.more_btn:hover {
  background-color: #4F463D;

}

.more_btn .more {
  font-size: 20px;
  font-weight: 600;
}

/* //slide */

/* dining */
.dining {
  margin: 200px auto;
}

.dining .title {
  text-align: center;
  margin-bottom: 100px;
}

.dining .dining_inner {
  height: fit-content;
  margin-bottom: 90px;
}

.dining .dining_inner .dining_img {
  margin-bottom: 20px;
}

.dining .text_wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
}

.dining .text_wrap h3 {
  font-size: 26px;
  font-weight: 700;
  color: #393633;
}

.dining .text_wrap span {
  font-size: 18px;
  color: #5D5853;
  line-height: 130%;
}

.dining .text_wrap p {
  font-size: 14px;
  color: #7a746e;
  line-height: 150%;
}

.dining .text_alignright {
  text-align: right;
}

/* //dining */

/* wedding */
.wedding_banner {
  max-width: 100%;
  height: 450px;
  background-image: url(../img/banner_wedding.png);
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.wedding_banner h2 {
  font-size: 38px;
  line-height: 120%;
  letter-spacing: 3px;
  text-align: center;
  color: #454343;
  margin: 10px 0;
}

.wedding_banner .more_btn {
  margin: 20px 0;
}

/* //wedding */

/* membership */
.membershipWarp {
  text-align: center;
  margin: 150px auto;
}

.membershipWarp .membershipItem {
  background-color: #F3EDE4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vw 0;
  margin-bottom: 20px;
}

.membershipWarp .membershipItem h3 {
  font-size: 26px;
  font-weight: 700;
  color: #393633;
  margin-bottom: 40px;
}

.membershipWarp .membershipItem p {
  line-height: 150%;
  color: #3b3834;
}

.membershipWarp .membershipItem:hover {
  background-color: #918371;
}

/* //membership */

/* footer */
footer {
  background-color: #3A3632;
  color: white;
  padding-top: 30px;
  padding-bottom: 80px;
}

footer .footer_textWrap {
  font-size: 12px;
  color: #DEDCDC;
}

footer .footer_textWrap .footer_logo {
  max-width: 180px;
  margin-bottom: 20px;
}

footer .footer_textWrap ul {
  display: flex;
  margin: 13px 0;
}

footer .footer_textWrap ul li::after {
  content: "|";
  margin: 0 0.5vw;
}

footer .footer_textWrap ul li:last-child::after {
  content: none;
  margin: 0;
}

footer .footer_textWrap .address {
  line-height: 180%;
}

footer .footer_textWrap .copy {
  margin-top: 10px;
  margin-bottom: 40px;
  color: #929292;
}

footer .footer_inner .sns .sns_img {
  display: flex;
  margin-top: 15px;
}

footer .footer_inner .sns .sns_img a {
  margin-right: 30px;
}

/* //footer */