@media screen and (max-width : 1400px) {
  header .logo_menu .menu,
  header .util {
    display: none;
  }
  header .clickmenu{
    display: block;
  }
  .top_btn{
    display: none;
  }
}

@media screen and (max-width : 1200px) {
  .main_video .reservation{
    flex-direction: column;
    width: 900px;
  }
  .main_video .reservation .formWrap{
    justify-content: space-between;
  }
  .main_video .reservation .formWrap li{
    margin: 0;
  }
  .main_video .reservation .reservation_button{
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
  }
  .dining .dining_inner .text_wrap h3{
    font-size: 22px;
  }
  .dining .dining_inner .text_wrap span{
    font-size: 16px;
  }
  .dining .dining_inner .text_wrap p{
    font-size: 13px;
  }
  
}

@media screen and (max-width : 991px) {
  .roomslide .title_box h3{
    font-size: 20px;
  }
  .wedding_banner h2{
    font-size: 30px;
  }
  .dining .dining_inner .text_wrap{
    width: 80%;
    margin: auto;
    height: 250px;
  }
  .dining .dining_inner .dining_img{
    display: flex;
    justify-content: center;
  }
  .dining .dining_inner .text_alignright{
    text-align: start;
  }
  footer .footer_textWrap ul{
    font-size: 11px;
  }
  footer .footer_textWrap p{
    font-size: 11px;
  }

}
@media screen and (max-width : 920px){
    header{
    padding: 0 20px;
  }
  .main_video .reservation{
    flex-direction: column;
    width: 167px;
    height: 70px;
  }
  .main_video .reservation .formWrap{
    display: none;
  }
}

@media screen and (max-width : 450px){
    header .header_i .logo{
    max-width: 130px; 
  }
  footer .footer_textWrap ul{
    font-size: 9px;
  }
  footer .footer_textWrap p{
    font-size: 9px;
  }
} 
